form{
    display: grid;
    grid-template-columns: auto auto;
    border: thin solid black;
    
}
input[type=button]{
    grid-column: 1/3;
}
h5,h3{
    text-align: center;
    background-color: yellowgreen;
}